main > .breadcrumb-container {
  padding: 10px;
  grid-row: 1;
  grid-column: 1;
}

.blog main div.breadcrumb-container {
  padding: 10px;
}

.breadcrumb > nav {
  color: var(--link-color);
  font-size: var(--body-font-size-xs);
  padding-left: 10px;
  min-height: 26px;
}

.breadcrumb > nav a {
  text-decoration: none;
}

.breadcrumb .breadcrumb-separator {
  margin-inline: 1.5ch;
}

@media (width >= 900px) {
  main .breadcrumb-container {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}